//BG Colours
$color-grey: #222222;
$color-blue: #65abe9;
$color-green: #4bd4b0;
$color-orange: #ff6633;
$color-red: #ff0000;

//Text Colours
$text-white: #ffffff;
$text-off-white: #999ca4;
$text-off-white-2: #b5b5b5; 